# Server Configuration
NODE_ENV=production
PORT=3000
ALLOWED_ORIGINS=https://m.besheger.com,http://localhost:3000

# MySQL Credentials
MYSQL_HOST=localhost
MYSQL_USER=erpuser
MYSQL_PASSWORD=xyz
MYSQL_DATABASE=erpsystem
MYSQL_PORT=3306
DATABASE_URL=mysql://erpuser:xyz@localhost:3306/erpsystem
VITE_API_BASE_URL=http://localhost:3000
NEXT_PUBLIC_API_BASE_URL=http://m.besheger.com/api/
